* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    color: grey;
}

.hidden {
    display: none;
}

#container {
    width: 505px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#upper-deck {
    margin-bottom: -50px;
    width: 505px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    left: 0;
    z-index: 3;
}

#score {
    text-align: left;
    width: 25%;
    display: inline-block;
}

#reset {
    display: inline-block;
    width: 5%;
}

#reset img {
    width: 20px;
    vertical-align: bottom;
}

#lives {
    text-align: right;
    width: 70%;
    display: inline-block;
    line-height: 50px;
}

#lives img {
    margin-bottom: -20px;
    width: 30px;
    margin-left: 3px;
}

#game-over-board {
    width: 505px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 240px;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    color: grey;
}

#game-over-board div {
    display: inline-block;
    padding: 40px;
}

#game-over-board div:first-child {
    width: 38%;
    vertical-align: middle;

}

#game-over-board div:nth-child(2){
    border: 1px solid grey;
    padding: 0;
    width: 2px;
    height: 95px;
    vertical-align: middle;
}

#game-over-board div:last-child {
    width: 60%;
    vertical-align: middle;
}

#game-over-board div:first-child img {
    width: 30px;
    vertical-align: middle;
}

#game-over-board div:last-child p {
    margin-top: 3px
}