* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

#deck {
    margin-bottom: -50px;
    width: 505px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

#score {
    text-align: left;
    width: 25%;
    display: inline-block;
}

#lives {
    text-align: right;
    width: 74%;
    display: inline-block;
    line-height: 50px;
}

#lives img {
    margin-bottom: -20px;
    width: 30px;
    margin-left: 3px;
}

#board {
    width: 505px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 240px;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    color: grey;
}

#board div {
    display: inline-block;
    padding: 20px;
}

#board div:first-child {
    width: 38%;
    vertical-align: middle;

}

#board div:nth-child(2){
    border: 1px solid grey;
    padding: 0;
    width: 2px;
    height: 95px;
    vertical-align: middle;
}

#board div:last-child {
    width: 60%;
    vertical-align: middle;
}

#board div:first-child img {
    width: 30px;
    vertical-align: middle;
}

#board div:last-child p {
    margin-top: 3px
}